* {
  padding: 0;
  margin: 0;
}

.frame {
  width: 90vw;
  height: 80vh;
  margin: 0 5vw;
}

.container {
  height: 10100vh;
  position: absolute;
  top: 0;
}
.container .birdAssets {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 49;
}
.container .birdAssets::-webkit-scrollbar {
  display: none;
}
.container .birdAssets .birds {
  width: 10000vw;
}
.container .birdAssets .birds .bird {
  background-image: url("../images/bird.gif");
  background-size: 5rem auto;
  width: 5rem;
  height: 5rem;
  position: absolute;
}
.container .birdAssets .birds .box {
  background-repeat: no-repeat;
  background-size: auto 5vw;
  width: 10vw;
  height: 5vw;
  position: absolute;
}

.bird1 {
  left: 228vw;
  bottom: 37vh;
  -webkit-animation: rotate1 53s linear infinite;
          animation: rotate1 53s linear infinite;
}

.box1 {
  bottom: 37vh;
  left: 228vw;
  -webkit-animation: boxRotate1 53s linear infinite;
          animation: boxRotate1 53s linear infinite;
  background-image: url("../images/flags/css.gif");
}

@-webkit-keyframes rotate1 {
  100% {
    left: 228vw;
    bottom: 37vh;
  }
  75% {
    left: 226vw;
    bottom: 33vh;
  }
  50% {
    left: 225vw;
    bottom: 33vh;
  }
  25% {
    left: 230vw;
    bottom: 34vh;
  }
  0% {
    left: 228vw;
    bottom: 37vh;
  }
}

@keyframes rotate1 {
  100% {
    left: 228vw;
    bottom: 37vh;
  }
  75% {
    left: 226vw;
    bottom: 33vh;
  }
  50% {
    left: 225vw;
    bottom: 33vh;
  }
  25% {
    left: 230vw;
    bottom: 34vh;
  }
  0% {
    left: 228vw;
    bottom: 37vh;
  }
}
@-webkit-keyframes boxRotate1 {
  100% {
    left: 220.5vw;
    bottom: 37vh;
  }
  75% {
    left: 218.5vw;
    bottom: 33vh;
  }
  50% {
    left: 217.5vw;
    bottom: 33vh;
  }
  25% {
    left: 222.5vw;
    bottom: 34vh;
  }
  0% {
    left: 220.5vw;
    bottom: 37vh;
  }
}
@keyframes boxRotate1 {
  100% {
    left: 220.5vw;
    bottom: 37vh;
  }
  75% {
    left: 218.5vw;
    bottom: 33vh;
  }
  50% {
    left: 217.5vw;
    bottom: 33vh;
  }
  25% {
    left: 222.5vw;
    bottom: 34vh;
  }
  0% {
    left: 220.5vw;
    bottom: 37vh;
  }
}
.bird2 {
  left: 223vw;
  bottom: 52vh;
  -webkit-animation: rotate2 82s linear infinite;
          animation: rotate2 82s linear infinite;
}

.box2 {
  bottom: 52vh;
  left: 223vw;
  -webkit-animation: boxRotate2 82s linear infinite;
          animation: boxRotate2 82s linear infinite;
  background-image: url("../images/flags/html.gif");
}

@-webkit-keyframes rotate2 {
  100% {
    left: 223vw;
    bottom: 52vh;
  }
  75% {
    left: 238vw;
    bottom: 67vh;
  }
  50% {
    left: 224vw;
    bottom: 67vh;
  }
  25% {
    left: 234vw;
    bottom: 53vh;
  }
  0% {
    left: 223vw;
    bottom: 52vh;
  }
}

@keyframes rotate2 {
  100% {
    left: 223vw;
    bottom: 52vh;
  }
  75% {
    left: 238vw;
    bottom: 67vh;
  }
  50% {
    left: 224vw;
    bottom: 67vh;
  }
  25% {
    left: 234vw;
    bottom: 53vh;
  }
  0% {
    left: 223vw;
    bottom: 52vh;
  }
}
@-webkit-keyframes boxRotate2 {
  100% {
    left: 215.5vw;
    bottom: 52vh;
  }
  75% {
    left: 230.5vw;
    bottom: 67vh;
  }
  50% {
    left: 216.5vw;
    bottom: 67vh;
  }
  25% {
    left: 226.5vw;
    bottom: 53vh;
  }
  0% {
    left: 215.5vw;
    bottom: 52vh;
  }
}
@keyframes boxRotate2 {
  100% {
    left: 215.5vw;
    bottom: 52vh;
  }
  75% {
    left: 230.5vw;
    bottom: 67vh;
  }
  50% {
    left: 216.5vw;
    bottom: 67vh;
  }
  25% {
    left: 226.5vw;
    bottom: 53vh;
  }
  0% {
    left: 215.5vw;
    bottom: 52vh;
  }
}
.bird3 {
  left: 230vw;
  bottom: 58vh;
  -webkit-animation: rotate3 74s linear infinite;
          animation: rotate3 74s linear infinite;
}

.box3 {
  bottom: 58vh;
  left: 230vw;
  -webkit-animation: boxRotate3 74s linear infinite;
          animation: boxRotate3 74s linear infinite;
  background-image: url("../images/flags/js.gif");
}

@-webkit-keyframes rotate3 {
  100% {
    left: 230vw;
    bottom: 58vh;
  }
  75% {
    left: 229vw;
    bottom: 72vh;
  }
  50% {
    left: 226vw;
    bottom: 72vh;
  }
  25% {
    left: 243vw;
    bottom: 54vh;
  }
  0% {
    left: 230vw;
    bottom: 58vh;
  }
}

@keyframes rotate3 {
  100% {
    left: 230vw;
    bottom: 58vh;
  }
  75% {
    left: 229vw;
    bottom: 72vh;
  }
  50% {
    left: 226vw;
    bottom: 72vh;
  }
  25% {
    left: 243vw;
    bottom: 54vh;
  }
  0% {
    left: 230vw;
    bottom: 58vh;
  }
}
@-webkit-keyframes boxRotate3 {
  100% {
    left: 222.5vw;
    bottom: 58vh;
  }
  75% {
    left: 221.5vw;
    bottom: 72vh;
  }
  50% {
    left: 218.5vw;
    bottom: 72vh;
  }
  25% {
    left: 235.5vw;
    bottom: 54vh;
  }
  0% {
    left: 222.5vw;
    bottom: 58vh;
  }
}
@keyframes boxRotate3 {
  100% {
    left: 222.5vw;
    bottom: 58vh;
  }
  75% {
    left: 221.5vw;
    bottom: 72vh;
  }
  50% {
    left: 218.5vw;
    bottom: 72vh;
  }
  25% {
    left: 235.5vw;
    bottom: 54vh;
  }
  0% {
    left: 222.5vw;
    bottom: 58vh;
  }
}
.bird4 {
  left: 215vw;
  bottom: 88vh;
  -webkit-animation: rotate4 81s linear infinite;
          animation: rotate4 81s linear infinite;
}

.box4 {
  bottom: 88vh;
  left: 215vw;
  -webkit-animation: boxRotate4 81s linear infinite;
          animation: boxRotate4 81s linear infinite;
  background-image: url("../images/flags/laravel.gif");
}

@-webkit-keyframes rotate4 {
  100% {
    left: 215vw;
    bottom: 88vh;
  }
  75% {
    left: 215vw;
    bottom: 100vh;
  }
  50% {
    left: 201vw;
    bottom: 100vh;
  }
  25% {
    left: 202vw;
    bottom: 74vh;
  }
  0% {
    left: 215vw;
    bottom: 88vh;
  }
}

@keyframes rotate4 {
  100% {
    left: 215vw;
    bottom: 88vh;
  }
  75% {
    left: 215vw;
    bottom: 100vh;
  }
  50% {
    left: 201vw;
    bottom: 100vh;
  }
  25% {
    left: 202vw;
    bottom: 74vh;
  }
  0% {
    left: 215vw;
    bottom: 88vh;
  }
}
@-webkit-keyframes boxRotate4 {
  100% {
    left: 207.5vw;
    bottom: 88vh;
  }
  75% {
    left: 207.5vw;
    bottom: 100vh;
  }
  50% {
    left: 193.5vw;
    bottom: 100vh;
  }
  25% {
    left: 194.5vw;
    bottom: 74vh;
  }
  0% {
    left: 207.5vw;
    bottom: 88vh;
  }
}
@keyframes boxRotate4 {
  100% {
    left: 207.5vw;
    bottom: 88vh;
  }
  75% {
    left: 207.5vw;
    bottom: 100vh;
  }
  50% {
    left: 193.5vw;
    bottom: 100vh;
  }
  25% {
    left: 194.5vw;
    bottom: 74vh;
  }
  0% {
    left: 207.5vw;
    bottom: 88vh;
  }
}
.bird5 {
  left: 274vw;
  bottom: 63vh;
  -webkit-animation: rotate5 79s linear infinite;
          animation: rotate5 79s linear infinite;
}

.box5 {
  bottom: 63vh;
  left: 274vw;
  -webkit-animation: boxRotate5 79s linear infinite;
          animation: boxRotate5 79s linear infinite;
  background-image: url("../images/flags/reactJS.gif");
}

@-webkit-keyframes rotate5 {
  100% {
    left: 274vw;
    bottom: 63vh;
  }
  75% {
    left: 277vw;
    bottom: 69vh;
  }
  50% {
    left: 267vw;
    bottom: 69vh;
  }
  25% {
    left: 269vw;
    bottom: 56vh;
  }
  0% {
    left: 274vw;
    bottom: 63vh;
  }
}

@keyframes rotate5 {
  100% {
    left: 274vw;
    bottom: 63vh;
  }
  75% {
    left: 277vw;
    bottom: 69vh;
  }
  50% {
    left: 267vw;
    bottom: 69vh;
  }
  25% {
    left: 269vw;
    bottom: 56vh;
  }
  0% {
    left: 274vw;
    bottom: 63vh;
  }
}
@-webkit-keyframes boxRotate5 {
  100% {
    left: 266.5vw;
    bottom: 63vh;
  }
  75% {
    left: 269.5vw;
    bottom: 69vh;
  }
  50% {
    left: 259.5vw;
    bottom: 69vh;
  }
  25% {
    left: 261.5vw;
    bottom: 56vh;
  }
  0% {
    left: 266.5vw;
    bottom: 63vh;
  }
}
@keyframes boxRotate5 {
  100% {
    left: 266.5vw;
    bottom: 63vh;
  }
  75% {
    left: 269.5vw;
    bottom: 69vh;
  }
  50% {
    left: 259.5vw;
    bottom: 69vh;
  }
  25% {
    left: 261.5vw;
    bottom: 56vh;
  }
  0% {
    left: 266.5vw;
    bottom: 63vh;
  }
}
.bird6 {
  left: 243vw;
  bottom: 62vh;
  -webkit-animation: rotate6 43s linear infinite;
          animation: rotate6 43s linear infinite;
}

.box6 {
  bottom: 62vh;
  left: 243vw;
  -webkit-animation: boxRotate6 43s linear infinite;
          animation: boxRotate6 43s linear infinite;
  background-image: url("../images/flags/sass.gif");
}

@-webkit-keyframes rotate6 {
  100% {
    left: 243vw;
    bottom: 62vh;
  }
  75% {
    left: 237vw;
    bottom: 59vh;
  }
  50% {
    left: 252vw;
    bottom: 59vh;
  }
  25% {
    left: 256vw;
    bottom: 71vh;
  }
  0% {
    left: 243vw;
    bottom: 62vh;
  }
}

@keyframes rotate6 {
  100% {
    left: 243vw;
    bottom: 62vh;
  }
  75% {
    left: 237vw;
    bottom: 59vh;
  }
  50% {
    left: 252vw;
    bottom: 59vh;
  }
  25% {
    left: 256vw;
    bottom: 71vh;
  }
  0% {
    left: 243vw;
    bottom: 62vh;
  }
}
@-webkit-keyframes boxRotate6 {
  100% {
    left: 235.5vw;
    bottom: 62vh;
  }
  75% {
    left: 229.5vw;
    bottom: 59vh;
  }
  50% {
    left: 244.5vw;
    bottom: 59vh;
  }
  25% {
    left: 248.5vw;
    bottom: 71vh;
  }
  0% {
    left: 235.5vw;
    bottom: 62vh;
  }
}
@keyframes boxRotate6 {
  100% {
    left: 235.5vw;
    bottom: 62vh;
  }
  75% {
    left: 229.5vw;
    bottom: 59vh;
  }
  50% {
    left: 244.5vw;
    bottom: 59vh;
  }
  25% {
    left: 248.5vw;
    bottom: 71vh;
  }
  0% {
    left: 235.5vw;
    bottom: 62vh;
  }
}
.bird7 {
  left: 276vw;
  bottom: 62vh;
  -webkit-animation: rotate7 56s linear infinite;
          animation: rotate7 56s linear infinite;
}

.box7 {
  bottom: 62vh;
  left: 276vw;
  -webkit-animation: boxRotate7 56s linear infinite;
          animation: boxRotate7 56s linear infinite;
  background-image: url("../images/flags/php.gif");
}

@-webkit-keyframes rotate7 {
  100% {
    left: 276vw;
    bottom: 62vh;
  }
  75% {
    left: 282vw;
    bottom: 58vh;
  }
  50% {
    left: 290vw;
    bottom: 58vh;
  }
  25% {
    left: 272vw;
    bottom: 76vh;
  }
  0% {
    left: 276vw;
    bottom: 62vh;
  }
}

@keyframes rotate7 {
  100% {
    left: 276vw;
    bottom: 62vh;
  }
  75% {
    left: 282vw;
    bottom: 58vh;
  }
  50% {
    left: 290vw;
    bottom: 58vh;
  }
  25% {
    left: 272vw;
    bottom: 76vh;
  }
  0% {
    left: 276vw;
    bottom: 62vh;
  }
}
@-webkit-keyframes boxRotate7 {
  100% {
    left: 268.5vw;
    bottom: 62vh;
  }
  75% {
    left: 274.5vw;
    bottom: 58vh;
  }
  50% {
    left: 282.5vw;
    bottom: 58vh;
  }
  25% {
    left: 264.5vw;
    bottom: 76vh;
  }
  0% {
    left: 268.5vw;
    bottom: 62vh;
  }
}
@keyframes boxRotate7 {
  100% {
    left: 268.5vw;
    bottom: 62vh;
  }
  75% {
    left: 274.5vw;
    bottom: 58vh;
  }
  50% {
    left: 282.5vw;
    bottom: 58vh;
  }
  25% {
    left: 264.5vw;
    bottom: 76vh;
  }
  0% {
    left: 268.5vw;
    bottom: 62vh;
  }
}
.container .blimpAssets {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 9;
}
.container .blimpAssets::-webkit-scrollbar {
  display: none;
}
.container .blimpAssets .content {
  width: 10000vw;
}
.container .blimpAssets .content .blimp {
  background-repeat: no-repeat;
  background-size: auto 10vw;
  width: 30vw;
  height: 10vw;
  position: absolute;
  -webkit-animation: blimpMovement 100s linear infinite;
          animation: blimpMovement 100s linear infinite;
  background-image: url("/images/blimp.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .blimpAssets .content .blimp p {
  font-size: 9vh;
  color: wheat;
  text-shadow: 2px 3px black;
}

@-webkit-keyframes blimpMovement {
  100% {
    left: 190vw;
    bottom: 75vh;
  }
  50% {
    left: 188vw;
    bottom: 70vh;
  }
  0% {
    left: 190vw;
    bottom: 75vh;
  }
}

@keyframes blimpMovement {
  100% {
    left: 190vw;
    bottom: 75vh;
  }
  50% {
    left: 188vw;
    bottom: 70vh;
  }
  0% {
    left: 190vw;
    bottom: 75vh;
  }
}/*# sourceMappingURL=assets.css.map */