* {
  padding: 0;
  margin: 0;
}

.container {
  height: 10100vh;
  position: absolute;
  top: 0;
}
.container .birdAssets {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 49;
}
.container .birdAssets::-webkit-scrollbar {
  display: none;
}
.container .birdAssets .birds {
  width: 10000vw;
}
.container .birdAssets .birds .bird {
  background-image: url("../images/bird.gif");
  background-size: 5rem auto;
  width: 5rem;
  height: 5rem;
  position: absolute;
}
.container .birdAssets .birds .box {
  background-repeat: no-repeat;
  background-size: auto 5vw;
  width: 10vw;
  height: 5vw;
  position: absolute;
}

.bird1 {
  left: 237vw;
  bottom: 77vh;
  -webkit-animation: rotate1 90s linear infinite;
          animation: rotate1 90s linear infinite;
}

.box1 {
  bottom: 77vh;
  left: 237vw;
  -webkit-animation: boxRotate1 90s linear infinite;
          animation: boxRotate1 90s linear infinite;
  background-image: url("../images/flags/css.gif");
}

@-webkit-keyframes rotate1 {
  100% {
    left: 237vw;
    bottom: 77vh;
  }
  75% {
    left: 252vw;
    bottom: 88vh;
  }
  50% {
    left: 237vw;
    bottom: 88vh;
  }
  25% {
    left: 245vw;
    bottom: 77vh;
  }
  0% {
    left: 237vw;
    bottom: 77vh;
  }
}

@keyframes rotate1 {
  100% {
    left: 237vw;
    bottom: 77vh;
  }
  75% {
    left: 252vw;
    bottom: 88vh;
  }
  50% {
    left: 237vw;
    bottom: 88vh;
  }
  25% {
    left: 245vw;
    bottom: 77vh;
  }
  0% {
    left: 237vw;
    bottom: 77vh;
  }
}
@-webkit-keyframes boxRotate1 {
  100% {
    left: 229.5vw;
    bottom: 77vh;
  }
  75% {
    left: 244.5vw;
    bottom: 88vh;
  }
  50% {
    left: 229.5vw;
    bottom: 88vh;
  }
  25% {
    left: 237.5vw;
    bottom: 77vh;
  }
  0% {
    left: 229.5vw;
    bottom: 77vh;
  }
}
@keyframes boxRotate1 {
  100% {
    left: 229.5vw;
    bottom: 77vh;
  }
  75% {
    left: 244.5vw;
    bottom: 88vh;
  }
  50% {
    left: 229.5vw;
    bottom: 88vh;
  }
  25% {
    left: 237.5vw;
    bottom: 77vh;
  }
  0% {
    left: 229.5vw;
    bottom: 77vh;
  }
}
.bird2 {
  left: 212vw;
  bottom: 78vh;
  -webkit-animation: rotate2 88s linear infinite;
          animation: rotate2 88s linear infinite;
}

.box2 {
  bottom: 78vh;
  left: 212vw;
  -webkit-animation: boxRotate2 88s linear infinite;
          animation: boxRotate2 88s linear infinite;
  background-image: url("../images/flags/html.gif");
}

@-webkit-keyframes rotate2 {
  100% {
    left: 212vw;
    bottom: 78vh;
  }
  75% {
    left: 222vw;
    bottom: 92vh;
  }
  50% {
    left: 202vw;
    bottom: 92vh;
  }
  25% {
    left: 220vw;
    bottom: 68vh;
  }
  0% {
    left: 212vw;
    bottom: 78vh;
  }
}

@keyframes rotate2 {
  100% {
    left: 212vw;
    bottom: 78vh;
  }
  75% {
    left: 222vw;
    bottom: 92vh;
  }
  50% {
    left: 202vw;
    bottom: 92vh;
  }
  25% {
    left: 220vw;
    bottom: 68vh;
  }
  0% {
    left: 212vw;
    bottom: 78vh;
  }
}
@-webkit-keyframes boxRotate2 {
  100% {
    left: 204.5vw;
    bottom: 78vh;
  }
  75% {
    left: 214.5vw;
    bottom: 92vh;
  }
  50% {
    left: 194.5vw;
    bottom: 92vh;
  }
  25% {
    left: 212.5vw;
    bottom: 68vh;
  }
  0% {
    left: 204.5vw;
    bottom: 78vh;
  }
}
@keyframes boxRotate2 {
  100% {
    left: 204.5vw;
    bottom: 78vh;
  }
  75% {
    left: 214.5vw;
    bottom: 92vh;
  }
  50% {
    left: 194.5vw;
    bottom: 92vh;
  }
  25% {
    left: 212.5vw;
    bottom: 68vh;
  }
  0% {
    left: 204.5vw;
    bottom: 78vh;
  }
}
.bird3 {
  left: 211vw;
  bottom: 65vh;
  -webkit-animation: rotate3 49s linear infinite;
          animation: rotate3 49s linear infinite;
}

.box3 {
  bottom: 65vh;
  left: 211vw;
  -webkit-animation: boxRotate3 49s linear infinite;
          animation: boxRotate3 49s linear infinite;
  background-image: url("../images/flags/js.gif");
}

@-webkit-keyframes rotate3 {
  100% {
    left: 211vw;
    bottom: 65vh;
  }
  75% {
    left: 220vw;
    bottom: 65vh;
  }
  50% {
    left: 224vw;
    bottom: 65vh;
  }
  25% {
    left: 206vw;
    bottom: 78vh;
  }
  0% {
    left: 211vw;
    bottom: 65vh;
  }
}

@keyframes rotate3 {
  100% {
    left: 211vw;
    bottom: 65vh;
  }
  75% {
    left: 220vw;
    bottom: 65vh;
  }
  50% {
    left: 224vw;
    bottom: 65vh;
  }
  25% {
    left: 206vw;
    bottom: 78vh;
  }
  0% {
    left: 211vw;
    bottom: 65vh;
  }
}
@-webkit-keyframes boxRotate3 {
  100% {
    left: 203.5vw;
    bottom: 65vh;
  }
  75% {
    left: 212.5vw;
    bottom: 65vh;
  }
  50% {
    left: 216.5vw;
    bottom: 65vh;
  }
  25% {
    left: 198.5vw;
    bottom: 78vh;
  }
  0% {
    left: 203.5vw;
    bottom: 65vh;
  }
}
@keyframes boxRotate3 {
  100% {
    left: 203.5vw;
    bottom: 65vh;
  }
  75% {
    left: 212.5vw;
    bottom: 65vh;
  }
  50% {
    left: 216.5vw;
    bottom: 65vh;
  }
  25% {
    left: 198.5vw;
    bottom: 78vh;
  }
  0% {
    left: 203.5vw;
    bottom: 65vh;
  }
}
.bird4 {
  left: 232vw;
  bottom: 67vh;
  -webkit-animation: rotate4 59s linear infinite;
          animation: rotate4 59s linear infinite;
}

.box4 {
  bottom: 67vh;
  left: 232vw;
  -webkit-animation: boxRotate4 59s linear infinite;
          animation: boxRotate4 59s linear infinite;
  background-image: url("../images/flags/laravel.gif");
}

@-webkit-keyframes rotate4 {
  100% {
    left: 232vw;
    bottom: 67vh;
  }
  75% {
    left: 219vw;
    bottom: 79vh;
  }
  50% {
    left: 236vw;
    bottom: 79vh;
  }
  25% {
    left: 221vw;
    bottom: 71vh;
  }
  0% {
    left: 232vw;
    bottom: 67vh;
  }
}

@keyframes rotate4 {
  100% {
    left: 232vw;
    bottom: 67vh;
  }
  75% {
    left: 219vw;
    bottom: 79vh;
  }
  50% {
    left: 236vw;
    bottom: 79vh;
  }
  25% {
    left: 221vw;
    bottom: 71vh;
  }
  0% {
    left: 232vw;
    bottom: 67vh;
  }
}
@-webkit-keyframes boxRotate4 {
  100% {
    left: 224.5vw;
    bottom: 67vh;
  }
  75% {
    left: 211.5vw;
    bottom: 79vh;
  }
  50% {
    left: 228.5vw;
    bottom: 79vh;
  }
  25% {
    left: 213.5vw;
    bottom: 71vh;
  }
  0% {
    left: 224.5vw;
    bottom: 67vh;
  }
}
@keyframes boxRotate4 {
  100% {
    left: 224.5vw;
    bottom: 67vh;
  }
  75% {
    left: 211.5vw;
    bottom: 79vh;
  }
  50% {
    left: 228.5vw;
    bottom: 79vh;
  }
  25% {
    left: 213.5vw;
    bottom: 71vh;
  }
  0% {
    left: 224.5vw;
    bottom: 67vh;
  }
}
.bird5 {
  left: 262vw;
  bottom: 86vh;
  -webkit-animation: rotate5 51s linear infinite;
          animation: rotate5 51s linear infinite;
}

.box5 {
  bottom: 86vh;
  left: 262vw;
  -webkit-animation: boxRotate5 51s linear infinite;
          animation: boxRotate5 51s linear infinite;
  background-image: url("../images/flags/reactJS.gif");
}

@-webkit-keyframes rotate5 {
  100% {
    left: 262vw;
    bottom: 86vh;
  }
  75% {
    left: 273vw;
    bottom: 95vh;
  }
  50% {
    left: 273vw;
    bottom: 95vh;
  }
  25% {
    left: 256vw;
    bottom: 97vh;
  }
  0% {
    left: 262vw;
    bottom: 86vh;
  }
}

@keyframes rotate5 {
  100% {
    left: 262vw;
    bottom: 86vh;
  }
  75% {
    left: 273vw;
    bottom: 95vh;
  }
  50% {
    left: 273vw;
    bottom: 95vh;
  }
  25% {
    left: 256vw;
    bottom: 97vh;
  }
  0% {
    left: 262vw;
    bottom: 86vh;
  }
}
@-webkit-keyframes boxRotate5 {
  100% {
    left: 254.5vw;
    bottom: 86vh;
  }
  75% {
    left: 265.5vw;
    bottom: 95vh;
  }
  50% {
    left: 265.5vw;
    bottom: 95vh;
  }
  25% {
    left: 248.5vw;
    bottom: 97vh;
  }
  0% {
    left: 254.5vw;
    bottom: 86vh;
  }
}
@keyframes boxRotate5 {
  100% {
    left: 254.5vw;
    bottom: 86vh;
  }
  75% {
    left: 265.5vw;
    bottom: 95vh;
  }
  50% {
    left: 265.5vw;
    bottom: 95vh;
  }
  25% {
    left: 248.5vw;
    bottom: 97vh;
  }
  0% {
    left: 254.5vw;
    bottom: 86vh;
  }
}
.bird6 {
  left: 214vw;
  bottom: 40vh;
  -webkit-animation: rotate6 61s linear infinite;
          animation: rotate6 61s linear infinite;
}

.box6 {
  bottom: 40vh;
  left: 214vw;
  -webkit-animation: boxRotate6 61s linear infinite;
          animation: boxRotate6 61s linear infinite;
  background-image: url("../images/flags/sass.gif");
}

@-webkit-keyframes rotate6 {
  100% {
    left: 214vw;
    bottom: 40vh;
  }
  75% {
    left: 229vw;
    bottom: 45vh;
  }
  50% {
    left: 204vw;
    bottom: 45vh;
  }
  25% {
    left: 206vw;
    bottom: 30vh;
  }
  0% {
    left: 214vw;
    bottom: 40vh;
  }
}

@keyframes rotate6 {
  100% {
    left: 214vw;
    bottom: 40vh;
  }
  75% {
    left: 229vw;
    bottom: 45vh;
  }
  50% {
    left: 204vw;
    bottom: 45vh;
  }
  25% {
    left: 206vw;
    bottom: 30vh;
  }
  0% {
    left: 214vw;
    bottom: 40vh;
  }
}
@-webkit-keyframes boxRotate6 {
  100% {
    left: 206.5vw;
    bottom: 40vh;
  }
  75% {
    left: 221.5vw;
    bottom: 45vh;
  }
  50% {
    left: 196.5vw;
    bottom: 45vh;
  }
  25% {
    left: 198.5vw;
    bottom: 30vh;
  }
  0% {
    left: 206.5vw;
    bottom: 40vh;
  }
}
@keyframes boxRotate6 {
  100% {
    left: 206.5vw;
    bottom: 40vh;
  }
  75% {
    left: 221.5vw;
    bottom: 45vh;
  }
  50% {
    left: 196.5vw;
    bottom: 45vh;
  }
  25% {
    left: 198.5vw;
    bottom: 30vh;
  }
  0% {
    left: 206.5vw;
    bottom: 40vh;
  }
}
.bird7 {
  left: 211vw;
  bottom: 61vh;
  -webkit-animation: rotate7 70s linear infinite;
          animation: rotate7 70s linear infinite;
}

.box7 {
  bottom: 61vh;
  left: 211vw;
  -webkit-animation: boxRotate7 70s linear infinite;
          animation: boxRotate7 70s linear infinite;
  background-image: url("../images/flags/php.gif");
}

@-webkit-keyframes rotate7 {
  100% {
    left: 211vw;
    bottom: 61vh;
  }
  75% {
    left: 225vw;
    bottom: 65vh;
  }
  50% {
    left: 223vw;
    bottom: 65vh;
  }
  25% {
    left: 199vw;
    bottom: 73vh;
  }
  0% {
    left: 211vw;
    bottom: 61vh;
  }
}

@keyframes rotate7 {
  100% {
    left: 211vw;
    bottom: 61vh;
  }
  75% {
    left: 225vw;
    bottom: 65vh;
  }
  50% {
    left: 223vw;
    bottom: 65vh;
  }
  25% {
    left: 199vw;
    bottom: 73vh;
  }
  0% {
    left: 211vw;
    bottom: 61vh;
  }
}
@-webkit-keyframes boxRotate7 {
  100% {
    left: 203.5vw;
    bottom: 61vh;
  }
  75% {
    left: 217.5vw;
    bottom: 65vh;
  }
  50% {
    left: 215.5vw;
    bottom: 65vh;
  }
  25% {
    left: 191.5vw;
    bottom: 73vh;
  }
  0% {
    left: 203.5vw;
    bottom: 61vh;
  }
}
@keyframes boxRotate7 {
  100% {
    left: 203.5vw;
    bottom: 61vh;
  }
  75% {
    left: 217.5vw;
    bottom: 65vh;
  }
  50% {
    left: 215.5vw;
    bottom: 65vh;
  }
  25% {
    left: 191.5vw;
    bottom: 73vh;
  }
  0% {
    left: 203.5vw;
    bottom: 61vh;
  }
}
.bird8 {
  left: 258vw;
  bottom: 29vh;
  -webkit-animation: rotate8 62s linear infinite;
          animation: rotate8 62s linear infinite;
}

.box8 {
  bottom: 29vh;
  left: 258vw;
  -webkit-animation: boxRotate8 62s linear infinite;
          animation: boxRotate8 62s linear infinite;
  background-image: url("../images/flags/mysql.gif");
}

@-webkit-keyframes rotate8 {
  100% {
    left: 258vw;
    bottom: 29vh;
  }
  75% {
    left: 270vw;
    bottom: 27vh;
  }
  50% {
    left: 257vw;
    bottom: 27vh;
  }
  25% {
    left: 265vw;
    bottom: 28vh;
  }
  0% {
    left: 258vw;
    bottom: 29vh;
  }
}

@keyframes rotate8 {
  100% {
    left: 258vw;
    bottom: 29vh;
  }
  75% {
    left: 270vw;
    bottom: 27vh;
  }
  50% {
    left: 257vw;
    bottom: 27vh;
  }
  25% {
    left: 265vw;
    bottom: 28vh;
  }
  0% {
    left: 258vw;
    bottom: 29vh;
  }
}
@-webkit-keyframes boxRotate8 {
  100% {
    left: 250.5vw;
    bottom: 29vh;
  }
  75% {
    left: 262.5vw;
    bottom: 27vh;
  }
  50% {
    left: 249.5vw;
    bottom: 27vh;
  }
  25% {
    left: 257.5vw;
    bottom: 28vh;
  }
  0% {
    left: 250.5vw;
    bottom: 29vh;
  }
}
@keyframes boxRotate8 {
  100% {
    left: 250.5vw;
    bottom: 29vh;
  }
  75% {
    left: 262.5vw;
    bottom: 27vh;
  }
  50% {
    left: 249.5vw;
    bottom: 27vh;
  }
  25% {
    left: 257.5vw;
    bottom: 28vh;
  }
  0% {
    left: 250.5vw;
    bottom: 29vh;
  }
}
.container .blimpAssets {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 9;
}
.container .blimpAssets::-webkit-scrollbar {
  display: none;
}
.container .blimpAssets .content {
  width: 10000vw;
}
.container .blimpAssets .content .blimp {
  background-repeat: no-repeat;
  background-size: auto 10vw;
  width: 30vw;
  height: 10vw;
  position: absolute;
  -webkit-animation: blimpMovement 100s linear infinite;
          animation: blimpMovement 100s linear infinite;
  background-image: url("../images/blimp.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .blimpAssets .content .blimp p {
  font-size: 9vh;
  color: wheat;
  text-shadow: 2px 3px black;
}

@-webkit-keyframes blimpMovement {
  100% {
    left: 190vw;
    bottom: 75vh;
  }
  50% {
    left: 188vw;
    bottom: 70vh;
  }
  0% {
    left: 190vw;
    bottom: 75vh;
  }
}

@keyframes blimpMovement {
  100% {
    left: 190vw;
    bottom: 75vh;
  }
  50% {
    left: 188vw;
    bottom: 70vh;
  }
  0% {
    left: 190vw;
    bottom: 75vh;
  }
}/*# sourceMappingURL=assets.css.map */