$birdSize:5rem;
$boxSize:5vw;

*{
    padding: 0;
    margin: 0;
}


.container{

    .birdAssets, .birdAssets2{
        position: sticky;
        top:0;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        z-index: 49;

        &::-webkit-scrollbar{
            display: none;
        }

        .birds{
            width: 10000vw;
            .bird{
                background-size: $birdSize auto;
                width: $birdSize;
                height: $birdSize;
                position: absolute;
            }
    
            .box{
                background-repeat: no-repeat;
                background-size: auto $boxSize;
                width: $boxSize+$boxSize;
                height: $boxSize;
                position: absolute;
            }
        }
    }
}




// birds and flag positioning 
$flags:'css','html','js', 'laravel','reactJS','sass','php','mysql';
$i:1;
@each $flag in $flags{
    $bottom:(6vh*random(10) + 20);
    $left: calc((7vw * random(10)) + 100vw + 2200px);
    $duration: random(50)+30s;
    .bird#{$i}{
        background-image: url('../images/bird.gif');
        left: $left;
        bottom: $bottom;
        animation: rotate#{$i} $duration linear infinite;
    }
    .box#{$i}{
        bottom: $bottom;
        left: $left;
        animation: boxRotate#{$i} $duration linear infinite;
        background-image: url('../images/flags/#{$flag}.gif');
    }

    $loc: random(40)-20vw;
    $loc2: random(20)-5vh;

    @keyframes rotate#{$i} {
        100% {
            left:$left;
            bottom: $bottom;
        }
      
        50% {
            left:calc($left + $loc);
            bottom: calc($bottom + $loc2);
        }
       
        0% {
            left:$left;
            bottom:$bottom;
        }
    }

    @keyframes boxRotate#{$i} {
        100% {
            left:calc($left - 7.5vw);
            bottom: $bottom;
        }
       
        50% {
            left:calc($left - 7.5vw + $loc);
            bottom: calc($bottom + $loc2);
        }
       
        0% {
            left:calc($left - 7.5vw);
            bottom: $bottom;
        }
    }
   $i: $i+ 1;
}


// ----------------------------------------
$flags2:'sb','laragon','ps', 'vscode','github';
$i:1;
@each $flag2 in $flags2{
    $bottom:(6vh*random(10) + 20);
    $left: calc((8vw * random(10)) + 100vw + 3700px);
    $duration: random(50)+30s;
    .bird2#{$i}{
        background-image: url('../images/bird2.gif');
        left: $left;
        bottom: $bottom;
        animation: rotate2#{$i} $duration linear infinite;
    }
    .box2#{$i}{
        bottom: $bottom;
        left: $left;
        animation: boxRotate2#{$i} $duration linear infinite;
        background-image: url('../images/flags/#{$flag2}.gif');
    }

    $loc: random(40)-20vw;
    $loc2: random(20)-5vh;

    @keyframes rotate2#{$i} {
        100% {
            left:$left;
            bottom: $bottom;
        }
      
        50% {
            left:calc($left + $loc);
            bottom: calc($bottom + $loc2);
        }
       
        0% {
            left:$left;
            bottom:$bottom;
        }
    }

    @keyframes boxRotate2#{$i} {
        100% {
            left:calc($left - 7.5vw);
            bottom: $bottom;
        }
       
        50% {
            left:calc($left - 7.5vw + $loc);
            bottom: calc($bottom + $loc2);
        }
       
        0% {
            left:calc($left - 7.5vw);
            bottom: $bottom;
        }
    }
   $i: $i+ 1;
}




// blimp css
.container{
    .blimpAssets{
        position: sticky;
        top:0;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        z-index: 9;

        &::-webkit-scrollbar{
            display: none;
        }


        .content{
            width: 2000vw;


            .skills{
                left: 200vw;
            }
            .about{
                left: 300vw;
            }
            .blimpProjects{
                left: 7000px;
            }
            .blimp{
                background-repeat: no-repeat;
                background-size: auto $boxSize*2;
                width: $boxSize* 6;
                height: $boxSize* 2;
                position: absolute;
                animation: blimpMovement 100s linear infinite;
                background-image: url('../images/blimp.png');
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // border: 1px solid red;
                p{
                    font-size: 9vh;
                    color: wheat;
                    text-shadow: 2px 3px black;
                }
            }
        }
    }
}

@keyframes blimpMovement {
    100% {
        bottom: 75vh;
    }
    50% {
        bottom: 70vh;
    }
    0% {
        bottom: 75vh;
    }
}


