*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'8-bit_arcade_inmedium';

}

@for $i from 1 through 3{
    .billBoardProject#{$i}{
        left: calc(200vw + 500px * $i);
    }
}
